.contenedor-registro{
    display: flex;
    flex-direction: row;
 
}
.contedor-form{
    display: flex;
    flex-direction: row;
    height: 1024px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background: none;
  
    
}
.fondo-registro{
    background-color: #575757;
    width: 950px;
    height: 1017px;
    flex-shrink: 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.logo-registro{
    width: 500px;
    height: 500px;
    background: none;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    height: 400px;
    background-color: #393939;
    padding: 40px;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    background: none;
    font-family: ´fuente-principal´;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
    font-family: ´fuente-principal´;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
    font-family: ´fuente-principal´;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: #393939;
    font-size: 14px;
    background: none;
    font-family: ´fuente-principal´;
  }
  
  .signin {
    text-align: center;
    background: none;
    font-family: ´fuente-principal´;
    color: #393939;
  }
  
  .signin a {
    a{

        color: royalblue;
        background: none;
        font-family: ´fuente-principal´;
    }
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
    border-radius: 20px;
  }
  
.form  {
    label{

        position: relative;
        border-radius: 20px;
        width: 450px;
       ;
    }
  }

  .form {

    label{

      .input {
        width: 100%;
        padding: 10px 10px 20px 10px;
        outline: 0;
        border: 1px solid rgba(255, 255, 255, 0.397);
        border-radius: 10px;
        color: aliceblue;
        background-color: #393939;
        height: auto;
        border-radius: 20px;
        margin: 0;
      }
    } 
    
  }
  

  .form{

    label {

      .input + span {
        position: absolute;
        left: 10px;
        top: 15px;
        color: grey;
        font-size: 0.9em;
        cursor: text;
        transition: 0.3s ease;
        font-family: ´fuente-principal´;
        border-radius: 20px;
        background-color: #393939;
        
      }
    }
  } 
  
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
    border-radius: 20px;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
    border-radius: 20px;
  }
  
  .form {

    label{

      .input:valid + span {
        color: #e7962d;
      }
    } 
    
  }
  
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    font-family: ´fuente-principal´;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
.boton-enviar{

    background: none;
    color: aliceblue;
    width: 350px;
    height: 41px;
}
.estilo-ingreso{
    text-decoration: none;
    background: none;
    color: royalblue;
}
@media (min-width: 0px) { 
    .div-contenerdor{
        display: flex;
        justify-content: center;
        background-image: url(../asssets/letra-j\ \(1\).png);
        height: 1080px;
        background-color: #272727;
    }
    
    
    .contenedor-registro{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        background: none;
     
    }
    
    
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 350px;
        height: 400px;
        background-color: #fffdfd;
        padding: 40px;
        border-radius: 20px;
        position: relative;
      }
      .fondo-registro{
        display: none;
    }
    
    .logo-registro{
      display: none;
    }
    .form  {
        label{
    
            position: relative;
            border-radius: 20px;
            width: 400px;
           ;
        }
      }
    
    }
    .form{
      label{
        .input {
          width: 330px;
          padding: 10px 10px 20px 10px;
          outline: 0;
          border: 1px solid rgba(255, 255, 255, 0.397);
          border-radius: 10px;
          color: aliceblue;
          background-color: #393939;
          height: auto;
          border-radius: 20px;
          margin: 0;
        }

      } 

    } 


