.contenerdor-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: 1200px;
    margin-top: 70px;
    margin-left: 150px;
  
    
}

.contenedor-articulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    
    
    width: 335px;
    height: 525px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #393939;
    margin: 30px;
    
    
}

.img{
    border-radius: 20px;
    width: 220px;
    height: 220px;
    
    
    background-color: white;


}
.fondo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 250px;
    margin-top: 20px;
    border-radius: 20px;

}
.contedor-modelo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: none;
    width: 300px;
    height: 50px;


}
.titulo-articulo{
    background: none;
    color: aliceblue;
    font-family: ´fuente-principal´;
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: normal;
}


.envio-gratis{
    display: flex;
    justify-content: center;
    align-items: center;

    width:   200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #C9FFCB;
    border-radius: 40px;
    font-family: ´fuente-principal´;
    
}
.camioncito{
    background: none;
    width: 34px;
    height: 34px;
    margin-top: -3px;
    margin-right: 10px;
   
}
.envio{

    justify-content: flex-start;
    align-items: center;
    font-family: ´fuente-principal´;
    background: none;
    color: black;
    font-size: 24px;
    margin-top: -10px;
    

}
.contener-precio{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background: none;
}
.precio{
    
    
    background: none;
    color: #FFF;
    font-size: 28px;
    font-family: ´fuente-principal´;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    
}
.btn{
    margin-left: 20px;
}
.boton-compra {
    padding: 17px 40px;
    margin-left: 40px;
    border-radius: 50px;
    border: 0;
    background-color: aliceblue;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    font-family: ´fuente-principal´;
    color: #393939;
   }
   
.boton-compra:hover {
    
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   }
   
.boton-compra:active {
    
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;

   }