@import "navegador";
@import "fuente";
@import "main";
@import "articulo";
@import "ayuda";
@import "registro";
@import "acceder";
@import "moviles";



$color-fondo: rgba(30, 27, 27, 1) ;
$color-fondo-secundario: #393939;
$color-letra: aliceblue ;
$fuente:´fuente-principal´;




